#console1 {
	width:930px;
	height:40px;
	background-color:#EEEEEE;
	padding: 10px 10px;
	margin: 0px 10px;
	box-shadow: 10px 10px 5px #888888;
}
#console2 {
	width:270px;
	height:240px;
	background-color:#EEEEEE;
	padding: 10px 10px;
	margin: 10px 10px;
	box-shadow: 10px 10px 5px #888888;
}
#console3 {
	width:620px;
	height:510px;
	background-color:#EEEEEE;
	padding: 10px 10px;
	margin: 10px 10px;
	box-shadow: 10px 10px 5px #888888;
	overflow:auto;
}
.button {
    background-color: white; 
    border: none;
    color: black;
	border: 2px solid #555555;
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 2px 10px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.button:hover {
    background-color: #555555;
    color: white;
}